html {
    background-color: #0D1821;
}

.mem-slider {
  width: 100%;
  background-color: #86dad0;
  display: flex;
  justify-content: center;
  padding: 2%;
}
.slider {
  padding-top: 3%;
  width: 70%;
  overflow: hidden;
}

.btn {
  display: none;
}

.carousel {
  padding-left: 15%;
  display: flex;
  flex-direction: row;
  transition: transform 1s;
  justify-content: start;
  gap: 35%
}

.carousel__img {
  box-sizing: border-box;
  height: 40vw; 
}

.carousel__img-5 {
  width: 100%;
}

#btn-1:checked ~.carousel {
  transform: translateX(0vw);
}
  
#btn-2:checked ~ .carousel {
  transform: translateX(-70vw);
}

#btn-3:checked ~.carousel {
  transform: translateX(-155.8vw);
}

#btn-4:checked ~.carousel {
  transform: translateX(-230.5vw);
}

#btn-5:checked ~.carousel {
  transform: translateX(-300vw);
}
  
@media screen and (max-width:500px) {
  .slider {
      width: 93.1%
  }
}

.bottom-slider {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text_carousel_wrapper {
  width: 15vw;
  overflow: hidden;
  line-height: 16px;
  font-size: 1.5rem;
}

.text_carousel {
  display: flex;
  flex-direction: row;
  transition: transform 1s;
  gap: 60%;
  justify-content: start;
  padding-left: 15%;
}

.text_carousel_text {
  display: inline;
  box-sizing: border-box;
  white-space: nowrap;
}

#btn-1:checked ~ .bottom-slider .text_carousel {
  transform: translateX(0vw);
}
  
#btn-2:checked ~ .bottom-slider .text_carousel {
  transform: translateX(-12vw);
}

#btn-3:checked ~ .bottom-slider .text_carousel {
  transform: translateX(-26vw);
}

#btn-4:checked ~ .bottom-slider .text_carousel {
  transform: translateX(-38vw);
}

#btn-5:checked ~ .bottom-slider .text_carousel {
  transform: translateX(-54vw);
}

.navigation {
  display: flex;
  flex-direction: row;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
  width: 1.2vw;
  height: 1.2vw;
  background-color: white;
  margin: 0.45vw;
  border-radius: 50%;
  transition: opacity .5s;
  border: 2px solid #fff;
  cursor: pointer;
}

#btn-1:checked ~ .bottom-slider .circle-1,
#btn-2:checked ~ .bottom-slider .circle-2,
#btn-3:checked ~ .bottom-slider .circle-3,
#btn-4:checked ~ .bottom-slider .circle-4,
#btn-5:checked ~ .bottom-slider .circle-5 {
  background-color: #86dad0;
  border: 2px solid #fff;
}

.circle:hover {
  opacity: 1;
}
@media screen and (max-width:1440px) {
  .text_carousel_wrapper {
    font-size: 1.5rem;
    line-height: 16px;
  }

  .text_carousel {
    gap: 7vw;
  }
}
@media screen and (max-width:1110px) {
  .text_carousel_wrapper {
    font-size: 1.3rem;
  }
}

@media screen and (max-width:970px) {
  .text_carousel_wrapper {
    font-size: 1.1rem;
  }
}

@media screen and (max-width:865px) {
  .text_carousel {
    gap: 6vw;
  }
}

@media screen and (max-width:720px) {
  .text_carousel {
    gap: 4vw;
  }
  .text_carousel_wrapper {
    width: 14vw;
  }
}
@media screen and (max-width: 645px) {
  .text_carousel_wrapper {
    font-size: 1rem;
  }
}
@media screen and (max-width: 620px) {
  .text_carousel {
    gap: 30%;
  }
}
@media screen and (max-width: 591px) {
  .text_carousel_wrapper {
    font-size: 0.9rem;
  }
  .text_carousel {
    gap: 35%;
  }
}
@media screen and (max-width: 560px) {
  .text_carousel {
    gap: 30%;
  }
}
@media screen and (max-width: 532px) {
  .text_carousel {
    gap: 28%;
  }
}

@media screen and (max-width: 514px) {
  .text_carousel_wrapper {
    font-size: 0.8rem;
  }

  .text_carousel {
    gap: 35%;
  }
}

@media screen and (max-width:500px) {
  .text_carousel_wrapper {
    font-size: 0.6rem;
  }

  .text_carousel {
    gap: 25%;
  }

  .navigation {
      justify-content: center;
  }

  .bottom-slider {
    flex-direction: column-reverse;
  }

  .text_carousel_wrapper {
    margin-top: 2%;
  }
  #btn-3:checked ~.carousel {
    transform: translateX(-160.8vw);
  }
  
  #btn-4:checked ~.carousel {
    transform: translateX(-243.5vw);
  }
  
  #btn-5:checked ~.carousel {
    transform: translateX(-328vw);
  }
}